# POMS/fife_launch cfg multistage template for analysis jobs
# for more details check https://cdcvs.fnal.gov/redmine/projects/fife_utils/wiki/Fife_launch_Reference
# make sure to replace all @TEMPLATE_...@ fields with meaningful values
[global]
# these are global parameters that can be used in any section
# and eventually overridden in stage sections
# users can add more parameters as needed to be used through the configuration
experiment = sbnd
account = coackley
custom_tag = enuelastic_DLVertexingDLNu+E_noHits_7April 
project_name = enuelastic_DLVertexingDLNu+E_noHits_7April
release = v10_06_00
group = %(experiment)s
wrapper = file:///${FIFE_UTILS_DIR}/libexec/fife_wrap
larsoft_tag = %(release)s
larsoft_qual = e26:prof
b_name = %(project_name)s
basename = override_me
#dataset = override_me
startevent = 1
numevents = override_me
numjobs = override_me
outdir = override_me
stage_name = override_me
input_stage_name = override_me
artRoot_dataset = %(account)s_%(project_name)s_%(stage_name)s_%(custom_tag)s
histRoot_dataset = %(account)s_hist_%(project_name)s_%(stage_name)s_%(custom_tag)s

# This config file will run 10 FHiCL files
fcl_0 = override_me
fcl_1 = override_me
fcl_2 = override_me
fcl_3 = override_me
fcl_4 = override_me
fcl_5 = override_me
fcl_6 = override_me

[env_pass]
# environment variable to pass to jobs
IFDH_DEBUG = 1
SAM_EXPERIMENT = %(experiment)s
# these are used by Project-py to identify output dataset
ARTROOT_DATASET = %(artRoot_dataset)s
HISTROOT_DATASET = %(histRoot_dataset)s
# XRootD env var to make it more resilient
XRD_CONNECTIONRETRY = 32
XRD_REQUESTTIMEOUT  = 14400
XRD_REDIRECTLIMIT   = 255
XRD_LOADBALANCERTTL = 7200
XRD_STREAMTIMEOUT   = 7200
LC_ALL = C

[submit]
# jobsub_submit options
G = %(group)s
e = SAM_EXPERIMENT
e_1 = IFDH_DEBUG
e_2 = POMS4_CAMPAIGN_NAME
e_3 = POMS4_CAMPAIGN_STAGE_NAME
generate-email-summary = True
email-to = coackley@fnal.gov
# default resource requirements, these can be overridden in stage sections
expected-lifetime = 16h
disk = 10GB
memory = 8000MB
# choose the container to run your jobs
singularity-image = /cvmfs/singularity.opensciencegrid.org/fermilab/fnal-wn-sl7:latest
append_condor_requirements_0='(TARGET.HAS_CVMFS_sbnd_opensciencegrid_org==true)'
append_condor_requirements_1='(TARGET.HAS_CVMFS_sbn_opensciencegrid_org==true)'

[job_setup]
# options related to user code setup
debug = True
find_setups = True
setup_local = True
source_1 = /cvmfs/%(experiment)s.opensciencegrid.org/products/%(experiment)s/setup_%(experiment)s.sh
setup_1 = %(experiment)scode %(larsoft_tag)s -q %(larsoft_qual)s
prescript_1  = export FHICL_FILE_PATH=$INPUT_TAR_DIR_LOCAL:$FHICL_FILE_PATH
prescript_2 = export FW_SEARCH_PATH=$INPUT_TAR_DIR_LOCAL:$FW_SEARCH_PATH

[sam_consumer]
# SAM related options
limit = 1
schema = root
appname = %(experiment)scode
appvers = %(larsoft_tag)s
appfamily = art


[job_output]
# options to handle ArtRoot output files
addoutput = %(basename)s*.root
add_to_dataset = %(artRoot_dataset)s
dataset_exclude = hist*
rename = unique
dest = %(outdir)s
hash = 2
declare_metadata = True
metadata_extractor = sam_metadata_dumper
add_location = True
filter_metadata = data_stream
filter_metadata_2 = art.run_type
filter_metadata_3 = art.file_format_era
filter_metadata_4 = art.last_event
filter_metadata_5 = art.process_name
filter_metadata_6 = art.first_event
filter_metadata_7 = art.file_format_version
filter_metadata_8 = parents

[job_output_1] # I commented all of this out, I think this produced the hist files (I wanted the artROOT files)
# options to handle ROOT output files
# addoutput = hist_%(basename)s*.root
# add_to_dataset = %(histRoot_dataset)s
# rename = unique
# dest = %(outdir)s
# hash = 2
# declare_metadata = True
# add_location = True
# filter_metadata = data_stream
# filter_metadata_2 = art.run_type
# filter_metadata_3 = art.file_format_era
# filter_metadata_4 = art.last_event
# filter_metadata_5 = art.process_name
# filter_metadata_6 = art.first_event
# filter_metadata_7 = art.file_format_version
# filter_metadata_8 = parents

[executable] 
# First command (gen stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true 
arg_1 = -c
arg_2 = %(fcl_0)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = %(numevents)s
arg_7 = -e
arg_8 = 1:0:%(startevent)s
arg_9 = -T
arg_10 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_11 = -s
arg_12 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 


[executable_1] 
# Second command (g4 stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_1)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 

[executable_2] 
# Third command (detsim stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_2)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 


[executable_3] 
# Fourth command (reco1 stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_3)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 

[executable_4] 
# Fifth command (reco2 DL Vertexing Nu+E Train stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_4)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 

[executable_5] 
# Fifth command (CRUMBS DL Vertexing Nu+E Train stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_5)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 

[executable_6] 
# Sixth command (Analyser DL Vertexing Nu+E Train stage)
# executable options/arguments
# most of them are overridden in stage sections
name = true
arg_1 = -c
arg_2 = %(fcl_6)s
arg_3 = -o
arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}.root
arg_9 = -s
arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}.root 

# In stage sections we can override parameter from each section using the form:
# section.key = value
# most options are using placeholder values
# resources need to be assigned realistic values
[stage_gen_g4_detsim_reco1_reco2_analysed_DLNu+E_noHits_7April]
global.stage_name = gen_g4_detsim_reco1_reco2_analysed_DLNu+E_noHits_7April
# Name of the campaign stage (not the campaign)
# This would create 1000 events in a total of 20 jobs, this would be 20 output files with 50 events each
global.numevents = 70000
# Number of total events
global.numjobs = 2800
# Number of jobs

#fcl_1
global.fcl_0 = prodgenie_enuelastic_cosmics.fcl
executable.name = lar
executable.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_gen.root
executable.arg_6 = \$\(\(%(numevents)s/%(numjobs)s\)\)
executable.arg_8 = 1:\$\(\(PROCESS+1\)\):1
executable.arg_10 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_gen.root
executable.arg_11 = 
executable.arg_12 = 

#fcl_2
global.fcl_1 = standard_g4_sbnd.fcl
executable_1.name = lar
executable_1.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_g4.root
executable_1.arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_g4.root
executable_1.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_gen.root 

#fcl_3
global.fcl_2 = standard_detsim_sbnd.fcl
executable_2.name = lar
executable_2.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_detsim.root
executable_2.arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_detsim.root
executable_2.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_g4.root 

#fcl_4
global.fcl_3 = standard_reco1_sbnd.fcl
executable_3.name = lar
executable_3.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_reco1.root
executable_3.arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_reco1.root
executable_3.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_detsim.root 

#fcl_5
global.fcl_4 = overide_reco2_DLNu+E_sbnd_rachel.fcl
executable_4.name = lar
executable_4.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_reco2_DLNu+E_output.root
executable_4.arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_reco2_DLNu+E.root
executable_4.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_reco1.root 

#fcl_6
global.fcl_5 = crumbs_razzle_sbnd_rachel.fcl
executable_5.name = lar
executable_5.arg_4 = %(basename)s_\${CLUSTER}_\${PROCESS}_CRUMBS_DLNu+E_output.root
executable_5.arg_8 = hist_%(basename)s_\${CLUSTER}_\${PROCESS}_CRUMBS_DLNu+E.root
executable_5.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_reco2_DLNu+E_output.root 

#fcl_7
global.fcl_6 = run_nuE_DLNu+E.fcl
executable_6.name = lar
executable_6.arg_4 = root_%(basename)s_\${CLUSTER}_\${PROCESS}_Analysed_DLNu+E.root
executable_6.arg_8 = %(basename)s_\${CLUSTER}_\${PROCESS}_Analysed_DLNu+E_output.root
executable_6.arg_10 = %(basename)s_\${CLUSTER}_\${PROCESS}_CRUMBS_DLNu+E_output.root 

#fcl_done
#job_output
job_output.addoutput = %(basename)s*_output.root 
# Adding the output file as anything with _reco1.root at the end. This will output the artROOT reco1 file
#job_done
global.basename = %(b_name)s_%(larsoft_tag)s_%(stage_name)s
global.outdir = /pnfs/%(experiment)s/scratch/users/%(account)s/%(release)s/%(stage_name)s/%(project_name)s 
# This is where it puts the output file, leave this
sam_consumer.limit = 1
submit.N = %(numjobs)s
submit.disk = 60GB 
# Estimate of the disk usage for the job
submit.expected-lifetime = 12h 
# Estimate of the length of time for the job
submit.memory = 5GB 
# Estimate of the memory usage for the job
submit.tar_file_name = dropbox:///exp/sbnd/app/users/coackley/v10_06_00_gridJob/elasticnue_3April.tar 
# Submitting the job tarball to the grid. Has to have dropbox:// before the path
job_setup.ifdh_art = False

