[global]
group      = sbnd
experiment = sbnd
wrapper = file:///${FIFE_UTILS_DIR}/libexec/fife_wrap
version = override_me
quals   = override_me
fclfile = override_me
outdir = override_me
tarname = override_me
tardir = override_me
account = coackley
project_name = BNBDLNu+E_7April
stage_name = reco2_analysed_BNBDLNu+E_7April
custom_tag = BNBDLNu+E_7April
artRoot_dataset = %(account)s_%(project_name)s_%(stage_name)s_%(custom_tag)s
histRoot_dataset = %(account)s_hist_%(project_name)s_%(stage_name)s_%(custom_tag)s

[env_pass]
IFDH_DEBUG = 1
SAM_EXPERIMENT=%(experiment)s
SAM_GROUP=%(group)s
SAM_STATION=%(experiment)s
ARTROOT_DATASET = %(artRoot_dataset)s
HISTROOT_DATASET = %(histRoot_dataset)s
IFDH_CP_MAXRETRIES=2
XRD_CONNECTIONRETRY=32
XRD_REQUESTTIMEOUT=14400
XRD_REDIRECTLIMIT=255
XRD_LOADBALANCERTTL=7200
XRD_STREAMTIMEOUT=14400
LC_ALL = C

[submit]
G = %(group)s
N = 5
e = SAM_EXPERIMENT
e_1 = IFDH_DEBUG
e_2 = POMS4_CAMPAIGN_NAME
e_3 = POMS4_CAMPAIGN_STAGE_NAME
e_4 = ARTROOT_DATASET
e_5 = HISTROOT_DATASET
generate-email-summary = True
email-to = coackley@fnal.gov
expected-lifetime = 16h
disk = 10GB
memory = 2500MB
singularity-image = /cvmfs/singularity.opensciencegrid.org/fermilab/fnal-wn-sl7:latest
tar_file_name = dropbox://%(tardir)s/%(tarname)s
use-cvmfs-dropbox = True

[job_setup]
debug = True
find_setups = True
setup_local = True
# n_files_per_job = 10
source_1 = /cvmfs/%(experiment)s.opensciencegrid.org/products/%(experiment)s/setup_%(experiment)s.sh
setup_1 = %(experiment)scode %(version)s -q %(quals)s
prescript_1  = export FHICL_FILE_PATH=$INPUT_TAR_DIR_LOCAL:$FHICL_FILE_PATH
prescript_2 = export FW_SEARCH_PATH=$INPUT_TAR_DIR_LOCAL:$FW_SEARCH_PATH

# If you expect to read more than one input file per job you may need this set to True
ifdh_art = True
multifile = False

[sam_consumer]
limit = 5
schema = root
appname = %(experiment)scode
appvers = %(version)s
appfamily = art

[executable]
name  = lar
arg_1 = -c
arg_2 = %(fclfile)s
arg_3 = -n
arg_4 = -1
arg_5 = -o
arg_6 = Reco2_DLNu+E_\${CLUSTER}_\${PROCESS}.root
# arg_7 = -s
# arg_8 = input_filename

[executable_1]
name  = lar
arg_1 = -c
arg_2 = %(fclfile2)s
arg_3 = -s
arg_4 = Reco2_DLNu+E_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -o
arg_8 = CRUMBS_DLNu+E_\${CLUSTER}_\${PROCESS}.root

[executable_2]
name  = lar
arg_1 = -c
arg_2 = %(fclfile3)s
arg_3 = -s
arg_4 = CRUMBS_DLNu+E_\${CLUSTER}_\${PROCESS}.root
arg_5 = -n
arg_6 = -1
arg_7 = -T
arg_8 = ANALYSED_DLNu+E_\${CLUSTER}_\${PROCESS}.root

[job_output]
addoutput = *DLNu+E*.root
# addoutput = Reco2*.root
# add_to_dataset = %(artRootdataset)s
dataset_exclude = hist*
rename      = unique
dest      = %(outdir)s
declare_metadata = True
hash = 2
metadata_extractor = sam_metadata_dumper
add_location = True
filter_metadata = data_stream
filter_metadata_2 = art.run_type
filter_metadata_3 = art.file_format_era
filter_metadata_4 = art.last_event
filter_metadata_5 = art.process_name
filter_metadata_6 = art.first_event
filter_metadata_7 = art.file_format_version
filter_metadata_8 = parents
